<header class="header">
    <nav class="header__socialLogin navbar bg-dark text-light" >
<!--           
      "
        //argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1662441043/APLogo-20-20.png" -->
        <img src="../assets/img/Arg=pro.png"alt="argpprod" class="header__logo ms-sm-5">

        <div class="header__socialmedia me-lg-5 me-2" >
            <span class="icon icon-linkedin mx-0 mx-sm-1 mx-md-2 mx-lg-2 mx-xl-2" ></span>
            <span class="icon icon-facebook2 mx-0 mx-sm-1 mx-md-2 mx-lg-2 mx-xl-2"></span>
            <span class="icon icon-instagram mx-0 mx-sm-1 mx-md-2 mx-lg-2 mx-xl-2"></span>
            <button type="button" class="btn btn-outline-success " data-bs-toggle="modal" data-bs-target="#exampleModal">login</button>
        </div>
    
    </nav>
   
        <div class="header__banner">
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="false" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div  class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item  active "data-bs-interval="3000">
                      <img src="../assets/img/pexels-nemuel-sereti-6424589.jpg" class="d-block w-100 carousel-img" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                      <img src="../assets/img/programmer-scanning-screen-on-his-smartwatch-with-smartphone-camera.jpg" class="d-block w-100 carousel-img" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                      <img src="../assets/img/computer-screens-running-programming-code-in-empty-software-developing-agency-office-and-computers-parsing-data-algorithms-in-background-neural-network-servers-cloud-computing-in-data-room.jpg" class="d-block w-100 carousel-img" alt="...">
                    </div>
                  </div>
                </div>
              </div>
        </div>


    <section class="header__about container-fluid mb-3 pb-5">
        <div class="row  ">
            <div class="main__photo col-12 col-sm-5 d-flex flex-column justify-content-evenly ">
              <img src="../assets/img/IMG_20220627_221849.jpg" alt="" class="main__img mx-auto mt-5">
              <h2 class=" text-center">Josman Jimenez</h2>
              <h3 class="text-center">Full Stack Developer Jr</h3>
           </div>

            <div class="main__description text-center col-12 col-sm-7  ps-sm-5 pt-1 mt-3 " >
              <img src="../assets/img/carabobo.jpg" alt="logo" class="header__logo1">
              <img src="../assets/img/platzi.png" alt="logo" class="header__logo2">
              <p class="m-0">Buenos Aires(Argentina)</p>
              <a href="#" class="d-block">informacion de contacto</a>
              <button class="btn btn-dark mx-1 mt-3">Tengo interes en</button>
              <button class="btn btn-dark mx-1 mt-3">A;adir seccion</button>
              <button class="btn btn-dark mx-1 mt-3">Mas...</button>
            </div>

       </div>
      </section>
    </header>
