<section class="main__about ">
   
  <div *ngIf="status == false" class="main__description col-10 mx-auto pb-1 my-4 " >
      <span (click)="editable()" class="icon-pencil pencil"></span>
      <h2 class="ps-5" >Acerca de</h2>
      <p class="ps-4">{{rta2[0].description_user}} </p>
  </div>
  
  <div  class="main__editable col-10 mx-auto pb-1 my-4" > 
  
    <!-- ///////////// editable active ////////////  -->
    
    <span *ngIf="status" (click)="editable()" class="icon-pencil mb-5 pencil" ></span>
    <textarea  *ngIf="status"  [(ngModel)]="input" id="body" class="form-control"></textarea>
    <button *ngIf="status" class="btn btn-dark mt-3 d-flex mx-auto" (click)=" updateData()" >Enviar</button>
  </div>
  </section>
