.main__description , .main__editable{
    position: relative;
    text-align: justify;
}

.pencil{
    position: absolute;
    right:0; 
}


.pencil:hover{
    background-color:rgba(0, 0,0, 0.3);
    border-radius:100%;
}


textarea{
   width: 100%;
   height: 32vh;
   overflow-y: hidden;
   margin: auto;
   display: block;
   resize: none;
}

