<section class="main__about ">
    <div class="main__description col-10 mx-auto pb-1 " >
      <h2 class="ps-5  ">Acerca de</h2>
      <p class="ps-4 "> Soy un chico de 25 años estudiate de programacion y desarollo de sotfware, apasionado con aprender cada dia mas  y motivado a asumir nuevos proyectos que formen parte de esta revolucion 
        tecnologica que se  ha venido gestando en los ultimos tiempos. Actualmente estoy en la busqueda de mi primer empleo en esta industria, para asi poder implementar todos los conocimientos 
        y habilidades adquiridos hasta ahora y continuar asi con mi formacion profesional, formando parte de un equipo de trabajo  que proporcionen ideas y soluciones que ayuden e impulsen 
        a esta indistria en crecimiento. </p>
  </div>
  </section>
