.main__skills{
    background-color: ;
  }
  
  /* progress bar */
  
  .main__bar{
      display: flex;
    }
    .circle-wrap {
      display: grid;
      grid-template-columns: repeat(1, 160px);
      grid-gap: 80px;
      width: 100px;
      height: 100px;
      background: #d9d7da;
      border-radius: 50%;
    }
    
    .circle-wrap .circle .mask,
    .circle-wrap .circle .fill-1,
    .circle-wrap .circle .fill-2,
    .circle-wrap .circle .fill-3, 
    .circle-wrap .circle .fill-4, 
    .circle-wrap .circle .fill-5, 
    .circle-wrap .circle .fill-6, 
    .circle-wrap .circle .fill-7, 
    .circle-wrap .circle .fill-8, 
    .circle-wrap .circle .fill-9{ 
      width: 100px;
      height: 100px;
      position: absolute;
      border-radius: 50%;
    }
    
    .circle-wrap .circle .mask {
      clip: rect(0px, 100px, 100px, 50px);
    }
    
    .circle-wrap .inside-circle {
      width: 74px;
      height: 74px;
      border-radius: 50%;
      background:white;
      line-height: 74px;
      text-align: center;
      margin-top: 13px;
      margin-left: 13px;
      color: black;
      position: absolute;
      z-index: 100;
      font-weight: 700;
      font-size: 18px;
    }
    
    /* color animation */
    
    .mask .fill-1 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: #f9681a;
    }
    
    .mask.full-1,
    .circle .fill-1 {
      animation: fill-1 ease-in-out 3s;
      transform: rotate(144deg);
    }
    
    @keyframes fill-1 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(144deg);
      }
    }
    
    /* 2nd bar */
    
    .mask .fill-2 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: yellow;
    }
    
    .mask.full-2,
    .circle .fill-2 {
      animation: fill-2 ease-in-out 3s;
      transform: rotate(117deg);
    }
    
    @keyframes fill-2{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(117deg);
      }
    }
    
    /* 3rd progress bar */
    .mask .fill-3 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: #23b9ea;
    }
    
    .mask.full-3,
    .circle .fill-3 {
      animation: fill-3 ease-in-out 3s;
      transform: rotate(126deg);
    }
    
    @keyframes fill-3{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(126deg);
      }
    }
    
     /* 4to progress bar */
     .mask .fill-4 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: red;
    }
    
    .mask.full-4,
    .circle .fill-4 {
      animation: fill-4 ease-in-out 3s;
      transform: rotate(72deg);
    }
    
    @keyframes fill-4{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(72deg);
      }
    }
      /* 5to progress bar */
     .mask .fill-5 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color:#7533f9;
    }
    
    .mask.full-5,
    .circle .fill-5 {
      animation: fill-5 ease-in-out 3s;
      transform: rotate(90deg);
    }
    
    @keyframes fill-5{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(90deg);
      }
    }
       /* 6to progress bar */
  
     .mask .fill-6 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color:green;
    }
    
    .mask.full-6,
    .circle .fill-6 {
      animation: fill-6 ease-in-out 3s;
      transform: rotate(126deg);
    }
    
    @keyframes fill-6{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(126deg);
      }
    }
      /* 7to progress bar */
     .mask .fill-7 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: navy;
    }
    
    .mask.full-7,
    .circle .fill-7 {
      animation: fill-7 ease-in-out 3s;
      transform: rotate(135deg);
    }
    
    @keyframes fill-7{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(135deg);
      }
    }
      /* 8vo progress bar */
     .mask .fill-8 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color:teal;
    }
    
    .mask.full-8,
    .circle .fill-8 {
      animation: fill-8 ease-in-out 3s;
      transform: rotate(117deg);
    }
    
    @keyframes fill-8{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(117deg);
      }
    }
      /* 9no progress bar */
     .mask .fill-9 {
      clip: rect(0px, 50px, 100px, 0px);
      background-color: black;
    }
    
    .mask.full-9,
    .circle .fill-9 {
      animation: fill-9 ease-in-out 3s;
      transform: rotate(135deg);
    }
    
    @keyframes fill-9{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(135deg);
      }
    }
    /* end progress bar */