<section class="main__skills  container-fluid pb-4 py-4">
    <div *ngIf="status ==false" class="col-10 d-flex flex-column mx-auto relative">
      <span class="icon-pencil pencil1" (click)="editable(1)"></span>
      <h2 class="ps-5 pt-4 mb-2 container-fluid">hard & soft skills</h2>
      <div class="main__bar row">
         
        <div *ngFor="let skill of rta2" class="main__skill col-6 col-md-4 col-sm-4  text-center">
         
             <div class="circle-wrap mx-auto mt-5">
               <div class="circle">
                 <div class="mask full-1" [style.background-color]="skill.color_skill" >
                   <div  class="fill-1" [style.background-color]="skill.color_skill"></div>
                 </div>
                 <div class="mask half">
                   <div class="fill-1" [style.background-color]="skill.color_skill"></div>
                 </div>
                 <div class="inside-circle"> {{skill.domain_skill}}% </div>
               </div >
             </div>
             <h5 class="mt-2">{{skill.skill_name}}</h5>
             
           </div>

         
            </div>

    </div>   


       <!-- /////////////// editable active ///////// -->
       <div *ngIf="status && status2== false && status3==false" class="col-10 d-flex flex-column mx-auto relative">
        <span class="icon-pencil pencil1 "  (click)="editable(1)"></span>
        <h2 class="ps-5 pt-4 mb-2 container-fluid">hard & soft skills</h2>
        <div class="main__bar row">
           
          <div *ngFor="let skill of rta2" class="main__skill col-6 col-md-4 col-sm-4  text-center">
            <span class="icon-bin trash"  (click)="deleteItem(skill.id_skill)"></span>
            <span class="icon-pencil pencil2" (click)="editable2(skill.id_skill)"></span>
               <div class="circle-wrap mx-auto mt-5">
                 <div class="circle">
                   <div class="mask full-1" [style.background-color]="skill.color_skill">
                     <div  class="fill-1" [style.background-color]="skill.color_skill"></div>
                   </div>
                   <div class="mask half">
                     <div class="fill-1" [style.background-color]="skill.color_skill"></div>
                   </div>
                   <div class="inside-circle" > {{skill.domain_skill}}% </div>
                 </div >
               </div>
               <h5 class="mt-2">{{skill.skill_name}}</h5>
           
             </div>
  
           
              </div>
              <button class="btn btn-light mt-3 d-flex mx-auto" (click)="editable3(3)">añadir</button>
      </div>   

           <!-- ///////////// update skill ////////////// -->
  <div *ngIf="status2 && status3== false" class="col-10 mx-auto relative">
    <span class="icon-pencil d-flex justify-content-end" (click)="editable2(id)"></span>
    <label for="title" class="d-block mb-1">Habilidad </label>
    <input type="text" class="d-block mb-3 form-control col-4" id="title" placeholder="habilidad" [(ngModel)]="skill_name1">

    <label for="dominio" class="d-block mb-1">Grado de dominio </label>
    <input type="number" class="d-block mb-3 form-control col-4" id="dominio" placeholder="Grado" [(ngModel)]="domain_skill1">

    
    <label for="color" class="d-block mb-1">Color </label>
    <input type="color" class="d-block mb-3 form-control col-4" id="color" [(ngModel)]="color_user" >

    <button class="btn btn-light mt-3 d-flex mx-auto" (click)="updateDta(id,dataSkill)">actualizar</button>
  </div>



 <!-- //////////// add skill ///////////// -->

  <div  *ngIf="status3" class="col-10 mx-auto relative">
    <span class="icon-pencil d-flex justify-content-end" (click)="editable3(3)"></span>
    <label for="title" class="d-block mb-1">Habilidad </label>
    <input type="text" class="d-block mb-3 form-control col-4" id="title" placeholder="habilidad" [(ngModel)]="skill_name1">

    <label for="dominio" class="d-block mb-1">Grado de dominio </label>
    <input type="number" class="d-block mb-3 form-control col-4" id="dominio" placeholder="Grado" [(ngModel)]="domain_skill1">

    
    <label for="color" class="d-block mb-1">Color </label>
    <input type="color" class="d-block mb-3 form-control col-4" id="color" [(ngModel)]="color_user" >

    <button class="btn btn-light mt-3 d-flex mx-auto" (click)="createDta(dataSkill)">enviar</button>
  </div>
        
  </section>
