<section class="main__experience ">
    <div class="col-10 d-flex flex-column mx-auto">
      <h2 class="ps-5 pt-4 mb-5 ">Experiencia</h2>
         
      <div class="main__exp row align-items-center justify-content-evenly  " >
            <img src="../assets/img/mercado.png" alt="logo" class="main__exp-logo col-12 col-sm-3 col-md-3 col-lg-2 mb-3" >
            <div class="col-12 col-sm-7 col-lg-7 col-xl-7">
                <h4 >Repositor</h4>
                <p>Trabaje alrededor de 8 meses del año 2019 en un supermercado en barrio de Palermo,mi puesto consistia en la reposicion de la mercaderia en las gondolas exibidas al publico, ademas de  la recepcion y organizacion de  los insumos en el almacen.  </p>
             </div>
        
         </div>
         <div class="main__exp row align-items-center justify-content-evenly mt-5 mb-5 " >
            <img src="../assets/img/PedidosYa.jpg" alt="logo" class="main__exp-logo col-12 col-sm-3 col-md-3 col-lg-2 mb-3 " >
           
            <div class="col-12 col-sm-7 col-lg-7 col-xl-7">
                <h4 >Repartidor</h4>
                <p>Actualmente trabajo en una  reconcida aplicacion de reaparto llamada  Pedidos Ya,comence mi labor en esta empresa aproximadamente hace  dos años y medios. Mi trabajo consiste en la busqueda y entrega de alimentos y encomiendas generadas por los consumidores del dicha aplicacion  </p>
             </div>
        </div>


  </div>
 </section>
