.main__experience, .main__skills {
    background-color: #212529;
    color: azure;
    text-align: justify;
  }
  span{
    position: absolute;
    right:0;
    top: 15px;
}
span:hover{
  background-color:rgba(255, 255,255, 0.5);
  border-radius:100%;
}
.trash{
  right: 20px;
}
.trash:hover{
  color: red;
  background-color: black;
}
.relative{
  position: relative;
}

  .main__exp-logo{
    width: 250px;
    height: 80px;
    
    }

    textarea{
      width: 100%;
      height: 30vh;
      overflow-y: hidden;
      margin: auto;
      display: block;
      resize: none;
   }
   
   

  @media screen and (max-width:575px) {
    
    .main__exp-logo{
    width: 230px;
    height: 100px;
    
    }
  }
  