.main__experience, .main__skills {
    background-color: #212529;
    color: azure;
  }
  span{
    position: absolute;
    right:0;
    top: 15px;
}
.relative{
  position: relative;
}

  .main__exp-logo{
    width: 250px;
    height: 80px;
    
    }

  @media screen and (max-width:575px) {
    
    .main__exp-logo{
    width: 230px;
    height: 100px;
    
    }
  }
  