span{
  position: absolute;
  right:0;
  top: 15px;
}
.relative{
  position: relative;
}

.main__education li{
  list-style: none;
}

.main__educ-logo{
    width: 105px;
    height: 105px;
  
}

.main__educ-logo-1{
  height: 155px;
  width: 41%;
  max-width: 214px;
}
