<section class="main__education">
    <div class="col-10 d-flex flex-column mx-auto"> 

      <h2 class="ps-5 pt-4 mb-5">Educaciòn</h2>
      <div class="main__education-history row align-items-center justify-content-evenly pb-4">
          <img src="../assets/img/carabobo.jpg" alt="" class="main__educ-logo main__educ-logo-1  col-5 col-sm-3 col-md-2 col-lg-2 ">
          <div class="col-7">
              <h3>Economia</h3>
              <p>Estudie en la Universidad de Carabobo Valencia Venezuela, carrera licenciatura en economia periodo 2015-2018 , estudios no culminados.
              </p>

          </div>
       </div>
      
       <div class="main__education-history row align-items-center justify-content-evenly pb-4">
          <img src="../assets/img/platzi.png" alt="" class="main__educ-logo main__educ-logo-2  col-5 col-sm-3 col-md-2 col-lg-2 ">
          <div class="col-7">
              <h3>Programaciòn full stack js </h3>
              <p>Ha principios de este año he empezado mis estudio en un plataforma educacion online llamada Platzi, el titulo por la cual estoy obtando  en dicha plataforma es de programador full stack js.</p>

          </div>
       </div>
       <div class="main__education-history row align-items-center justify-content-evenly pb-4">
          <img src="../assets/img/platzi.png" alt="" class="main__educ-logo main__educ-logo-2  col-5 col-sm-3 col-md-2 col-lg-2 ">
          <div class="col-7">
              <h3>Ingles </h3>
              <p>Estudio ingles en Platzi, una platafotma de educacion online.Comenzando a principios de este año hasta la actualidad </p>

          </div>
       </div>
       <div class="main__education-history row align-items-center justify-content-evenly pb-4">
          
        <div class="bg-dark col-5 col-sm-3 col-md-2 col-lg-2 ">
          <img src="../assets/img/Arg=pro.png" alt="" class="main__educ-logo main__educ-logo-4   ">
          
        </div>
          <div class="col-7">
              <h3>Programaciòn Full Stack </h3>
              <p>Argentina programa educaciòn online para el titulo Full Stack Developer Jr periodo 2022-actualidad</p>

          </div>
       </div>
    </div>
  </section>